In [1]:
import pandas as pd
import numpy as np

In [2]:
x=pd.Series([1,2,3,4])
x

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
x=pd.Series([1,2,3,4],index=['1st','2nd','3rd','4th'])
x

1st    1
2nd    2
3rd    3
4th    4
dtype: int64

In [4]:
x.values

array([1, 2, 3, 4], dtype=int64)

In [5]:
x.index

Index(['1st', '2nd', '3rd', '4th'], dtype='object')

In [6]:
x['3rd']

3

In [7]:
x['3rd']=88

In [8]:
x

1st     1
2nd     2
3rd    88
4th     4
dtype: int64

In [11]:
x.idxmax()

'3rd'

In [12]:
x.idxmin()

'1st'

In [13]:
arr=np.array([2,7,8,10,11,13,18])
y=pd.Series(arr)

In [14]:
y

0     2
1     7
2     8
3    10
4    11
5    13
6    18
dtype: int32

In [16]:
y[y>10]

4    11
5    13
6    18
dtype: int32

In [17]:
y+2

0     4
1     9
2    10
3    12
4    13
5    15
6    20
dtype: int32

In [18]:
y-2

0     0
1     5
2     6
3     8
4     9
5    11
6    16
dtype: int32

In [21]:
y*3

0     6
1    21
2    24
3    30
4    33
5    39
6    54
dtype: int32

In [22]:
y.value_counts()

2     1
7     1
8     1
10    1
11    1
13    1
18    1
Name: count, dtype: int64

In [24]:
a=pd.Series([1,2,3,2,3,3,4,8])
a

0    1
1    2
2    3
3    2
4    3
5    3
6    4
7    8
dtype: int64

In [25]:
a.value_counts()

3    3
2    2
1    1
4    1
8    1
Name: count, dtype: int64

In [27]:
a.unique()

array([1, 2, 3, 4, 8], dtype=int64)

In [28]:
a.nunique()

5

In [29]:
a.mode()

0    3
dtype: int64

In [30]:
a.mean()

3.25